/*
 * SPDX-FileCopyrightText: 2020 (C) Bjorn Erik Pedersen <bjorn.erik.pedersen@gmail.com>
 * SPDX-FileCopyrightText: 2020 (C) Michael Gibson
 *
 * SPDX-License-Identifier: Apache-2.0
 */

//
// Left side navigation
//
.td-sidebar-nav {
  margin-right: -15px;
  margin-left: -15px;

  @include media-breakpoint-up(md) {
    @supports (position: sticky) {
      max-height: calc(100vh - 10rem);
      overflow-y: auto;
    }
  }

  @include media-breakpoint-up(md) {
    display: block !important;
  }

  --rim: rgba(0, 0, 0, 0.2);
  @media (prefers-color-scheme: dark) {
    --rim: rgba(255, 255, 255, 0.2);
  }

  border-top: 1px solid var(--rim);

  &__section {
    li, a:not(.icon) {
      list-style: none;
      &:not(:last-child) {
        border-bottom: 1px solid var(--rim);
      }
    }

    ul {
      padding: 0;
      margin: 0;
    }

    padding-left: 0;
  }

  .collapse.show > a:last-child {
    border-bottom: 1px solid var(--rim);
  }

  ul.active, li.active, li.active > a.active {
    background-color: rgba(0, 0, 0, 0.2);
  }
  @media (prefers-color-scheme: light) {
    ul.active, li.active, li.active > a.active {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  .toc-l0 > &__section > &__section-title,
  .toc-l0 > &__page {
    padding-left: 0.5rem;
  }
  .toc-l1 a {
    padding-left: 1rem;
  }
  .toc-l2 a {
    padding-left: 2rem;
  }
  .toc-l3 a {
    padding-left: 3rem;
  }

  .flex-row {
    margin-left: 0px;
    .td-sidebar-link.td-sidebar-link__section {
      border-bottom: 0;
    }
  }

  &__section-title {
    display: block;
    font-weight: $font-weight-medium;

    .active {
      font-weight: $font-weight-bold;
    }

    a {
      color: $gray-900;
      @media (prefers-color-scheme: dark) {
        color: white;
      }
    }
  }

  .td-sidebar-link {
    display: block;
    padding: 0.2rem;

    &__page {
      font-weight: $font-weight-light;
      color: inherit;
    }
  }

  a {
    &:hover {
      color: $blue;
      text-decoration: none;
    }

    &.active {
      font-weight: $font-weight-bold;
    }
  }

  .dropdown {
    a {
      color: $gray-700;
    }

    .nav-link {
       padding: 0 0 1rem;
    }
  }
}

.td-sidebar {
  @include media-breakpoint-up(md) {
    padding-top: 4rem;
    background-color: $td-sidebar-bg-color;
    padding-right: 1rem;
    border-right: 1px solid $td-sidebar-border-color;
    @media (prefers-color-scheme: dark) {
      border-right: 1px solid rgb(18, 18, 18);
    }
  }

  &__toggle {
    line-height: 1;
    color: $gray-900;
    margin: 1rem;
    font-size: 1.5rem;
    @media (prefers-color-scheme: dark) {
      color: white;
    }
  }

  &__search {
    padding: 1rem 15px;
    margin-right: -15px;
    margin-left: -15px;
  }

  &__inner {
    order: 0;

    @include media-breakpoint-up(md) {
      @supports (position: sticky) {
        position: sticky;
        top: 4rem;
        z-index: 10;
        height: calc(100vh - 6rem);
      }
    }

    @include media-breakpoint-up(xl) {
      flex: 0 1 320px;
    }

    .td-search-box {
      width: 100%;
    }
  }
}
